.btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #00473e;
  border: solid 2px #faae2b;
  border-radius: 3px;
  transition: .4s;
}

.btn:hover {
  background: #faae2b;
  color: #00473e;
}

